::-moz-selection {
	background: #36be6e;
	color:#fff;
}

::selection {
	background: #36be6e;
	color:#fff;
}

.mont-font {
	font-family: 'Montserrat', sans-serif;
}

.white-font {
	color: #fff;
}

.light-font {
	font-weight: 300;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	color: #333;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 100%;
	width: 100%;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#main-nav {
	position: absolute;
	right: 0;
	top: 0;
}

#main-nav ul {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	padding: 16px 18px 0 0;
}

#main-nav, #contact-me ul li {
	display: inline-block;
}

#main-nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	width: 0px;
	transition:0.5s ease;
	white-space: nowrap;
	height: 25px;
	color: #333;
}

#main-nav ul li a:hover {
	border-bottom: 3px solid #333;
	width:200px;
}

#main-icon {
	background-image: url('icon-transparent.png');
	background-size: 100px 100px;
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

#bg-credit {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	margin: 10px;
}

#about-me {
	background-color: #fff;
}

#some-work {
	background-color: #f3f3f3;
}

#contact-me {
	background-color: #333;
}

section .section-wrap {
	padding: 44px 66px;
}

section .section-wrap .subtitle {
	font-size: 24px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 10px;
	text-align: center;
}

section .section-wrap .subsubtitle {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

section .section-wrap p {
	font-size: 14px;
}

section .section-wrap a {
	text-decoration: none;
	color: #3686be;
}

section .section-wrap a:hover {
	text-decoration: underline;
}

section .section-wrap p.mar-bot {
	margin-bottom: 8px;
}

.perc-statbar {
	width: 100%; 
	background-color: #d9d9d9; 
	height: 8px;
	margin-top: 2px;
	margin-bottom:8px
}

.marginl6 {
	margin-left: 10px;
}

.fa-s:hover {
	color: #f3f3f3;
}

.fa-chevron-down {
	position: absolute;
	bottom: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	cursor: pointer;
}

.fa-chevron-down:hover {
	color: #4d4d4d;
}