org: alvintang
app: shoot-message
service: shoot-message

plugins:
    - serverless-dotenv-plugin

provider:
    name: aws
    runtime: nodejs20.x

functions:
    api:
        handler: index.handler
        events:
            - httpApi: "*"
