/*
Author: Alvin Tang
Last updated: 2019-01-11
Intended only for use on Alvin Tang's personal website.
*/

html, body, #covers, #covers-container {
    width: 100%;
    height: 100%
}

.covers-opacity-1 .covers-img {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.covers-opacity-2 .covers-img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.covers-opacity-3 .covers-img {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.covers-img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    z-index: 0;
}

.covers-parent-heading {
    position: relative;
}

.covers-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: default;
}

h1, h2, h3, h4, h5, h6 {
    cursor: default;
}