.timeline {
    @apply relative py-10;
}

.timeline-item-point {
    /* On small devices: align with timeline-line (left-8) */
    @apply bg-quinary w-10 h-10 flex items-center justify-center rounded-full text-tertiary absolute;
    /* On md and above, center the point along the line */
    @apply md:left-1/2 md:transform md:-translate-x-1/2 md:-translate-y-1/2;
}

.timeline-line {
    top: 0;
    bottom: 0;
    left: calc(2.5rem / 2 - 0.25rem / 2);
    /* On small devices: fixed left position (left-8) */
    @apply bg-quinary w-1 absolute h-full;
    /* On md and above, center the line */
    @apply md:left-1/2 md:transform md:-translate-x-1/2;
}

.request-resume-button {
    @apply text-sm px-3 py-2 rounded-lg enabled:border enabled:border-quinary hover:enabled:bg-quinary hover:enabled:text-tertiary transition-colors;
}