@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Rubik", "Source Sans Pro", "Arial", sans-serif;
    }

    /* custom scrollbar maybe */
    body::-webkit-scrollbar {
        display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold cursor-default;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }
}
